<?xml version="1.0" encoding="utf-8"?>
<robot name="sorter"
	xmlns:xacro="http://www.ros.org/wiki/xacro">
	<!-- right_motor -->
	<link name="sorter_right_motor">
		<inertial>
      			<origin
			xyz="-1.4919E-16 -1.3184E-16 -0.049831"
			rpy="0 0 0" />
			<mass
			value="0.10528" />
			<inertia
			ixx="0.00010048"
			ixy="5.421E-21"
			ixz="5.9485E-21"
			iyy="0.00010048"
			iyz="1.7257E-20"
			izz="2.4448E-05" />
    		</inertial>
		<visual>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
			        <mesh filename="package://sorter_description/meshes/sorter_right_motor.STL" />
			</geometry>
      			<material name="Blue"/>
		</visual>	
		<collision>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="package://sorter_description/meshes/sorter_right_motor.STL" />
			</geometry>
		</collision>
	</link>
	<gazebo reference="sorter_right_motor">
	    	<material>Gazebo/Blue</material>
	    	<selfCollide>True</selfCollide>
  	</gazebo>
	<joint name="right_motor2base" type="fixed">
		<origin
		xyz="-0.04 0.028 0"
		rpy="-1.5708 0.3918 -1.5708" />
		<parent
		link="sorter_base" />
		<child
		link="sorter_right_motor" />
		<axis
		xyz="0 0 1" />
	</joint>
</robot>
