<launch>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find sorter_control)/config/sorter_control.yaml" command="load"/>

  <!-- load the controllers -->
  <node name="controller_spawner"
    pkg="controller_manager"
    type="spawner" respawn="false"
    output="screen" ns="/sorter_description"
    args="joint_state_controller
      left_wheel2motor
      right_wheel2motor
      scoop2base"
  />


  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
    <param name="robot_description" command="$(find xacro)/xacro '$(find sorter_description)/urdf/sorter.xacro'" />
    <remap from="/joint_states" to="/sorter/joint_states" />
  </node>

</launch>
